@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #262626; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #525252; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  @layer components{
    .no-scrollbar::-webkit-scrollbar{
      display: none;
    }
  }
  
.scrollbar-thin::-webkit-scrollbar {
        width: 3px;
}